/* HEADER */
.header {
  height: 7rem;
}

.header-image {
  margin-left: 1rem;
}

.form-select {
  min-width: 100px;
}

.balance {
  margin-right: 5px;
}

/* MAIN */
main {
  height: calc(100% - 17rem);
}

/* FOOTER */
footer {
  height: 10rem;
  margin-top: auto;
}

ul {
  margin: 0;
  padding: 0;  

  list-style: none;  
}

button {
  border: none;
}

button:active {
  border: none;
  outline: none;
}

button:focus {
  outline: 0;
}

.footer-btn-image {
  height: 3rem;
}

.btn-add-operation {
  display: inline-block;
  padding: .375rem .75rem;

  color: #212529;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  background-color: rgba(211, 212, 237, 0.4);

  border: 1px solid transparent;
  border-radius: .25rem;
  cursor: pointer;

  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.btn-add-operation:hover {
  background-color: rgba(211, 212, 237, 1);
  border: none;
}

.footer-text {
  height: 3rem;
}

.footer-link {
  color: var(--color-green);
}

.footer-image {
  height: 1rem;
}

.red {
  color: var(--color-red)!important;
}

.green {
  color: var(--color-green)!important;
}

@media (max-width: 993px) {
  .footer-central-button {
    visibility: hidden;
  }
}

@media (max-width: 775px) {
  .footer-btn-text {
    visibility: hidden;
  }

  main {
    height: auto;
  }
}

@media (max-width: 775px) {
  .header-image {
    display: none;
  }
}

