.header {
  height: 7rem;
}

.header-image {
  margin-left: 1rem;
}

main {
  height: calc(100% - 14rem);
}

footer {
  height: 7rem;
  margin-top: auto;
}

.footer-image {
  height: 3rem;
}

