:root {
  --color-blue: #0d6efd;
  --color-green: #198754;
  --color-red: #dc3545;
  --color-yellow: #ffc107;
  --color-light-blue: #0dcaf0;
  --color-light: #f8f9fa;
  --color-dark: #212529;
  --color-grey: #6c757d;
  --color-white: white;

  font-size: 1rem;
  font-family: "Montserrat Mono", Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}