* {
  margin: 0;
  padding: 0;
}

.hotkeys-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  
  text-align: center;
}

th, td {
  border: 1px solid gray;
  padding: 5px;
}

td p {
  margin: 0;
}