.operations-container {
  display: flex;
}

.operations {
  max-height: 600px;
  overflow-y: auto;
}

.operations-expense {
  margin-right: 50px;
}

.collapse {
  display: none;
}

.expande {
  display: block;
}

.record-container {
  display: flex;
  padding-left: 15px;
  margin-bottom: 5px;
}

.record-data {
  display: flex;
  justify-content: space-between;
  min-width: 250px;
}

.category-container {
  display: flex;
  align-items: flex-start;
}

.delete-record,
.record-expander {
  margin-right: 10px;
  background: none;
}

