.settings {
    /* text-align: center; */
    font-size: 1.5rem;
    font-weight: 700;

    width: 20rem;
    height: 22rem;

    position: fixed;
    bottom: 10rem;
    right: -20rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    
    border-radius: 5px 19px 5px 5px;
    /* background-color: rgba(29, 133, 93, 0.288); */
    background: linear-gradient(to left top, rgba(29, 133, 93, 0.288), rgba(29, 133, 93, 0.884));
    user-select: none;
    transition: .3s ease-in-out;

    z-index: 21;
}

.outer {
    position: fixed;
    bottom: 0;
    right: 0;

    width: 0px;
    height: 0px;

    transition: .2s ease-in-out;
    
}

.settings_outer {
    position: fixed;
    bottom: 0;
    right: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(42, 87, 87, 0.466);

    z-index: 20;
}

.close_settings {
    font-weight: normal;
   
    text-align: center;
    line-height: 20px;
    position: absolute;

    top: 0;
    right: 0;

    width: 2rem;
    height: 2rem;
    background-color:  rgba(29, 133, 93, 0.288);
    border: 2px solid rgba(10, 26, 27, 0.616);
    border-radius: 50%;

    user-select: none;
    transition: ease-in-out .5s;
}

.close_settings:hover {
    background-color: rgb(6, 141, 123);
    cursor: pointer;
 
}

.settings_radio {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.settings_radio:hover {
    background-color: rgba(166, 253, 234, 0.849);
} 

.settings_radio:checked {
    background-color: rgba(49, 221, 184, 0.849);

    border-color: rgb(0, 0, 0);
}


.settings_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    height: 100%;
}

.theme_app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 1.9rem;
    margin-top: 1.5rem;

}

.settings_inner {
    width: 50%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}

.head_list {
    margin-bottom: 1.2rem;
}

.set_on_slide {
  transform: translateX(-22rem);
}

.set_off_slide {

}
/*================ Toogle ==========*/
.onoffswitch {
    position: relative;
    width: 105px;
    height: 34px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #02363f81; border-radius: 8px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner::after {
    content: "Dark";
    padding-left: 40px;
    background-color: var(--color-dark);
    color: #cbffef;
}
.onoffswitch-inner::before {
    content: "Bright";
    
    padding-right: 40px;
    background-color: rgba(21, 95, 67, 0.562);

    color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 22px; margin: 4px;
    background: #BDFFE8;
    position: absolute; top: 0; bottom: 0;
    right: 73px;
    border: 2px solid #999999; border-radius: 8px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/* Toogle */

/* lable */
label:hover {
    cursor: pointer;
}
/* lable */